<div class="field-set">
  <h2 class="sign_up">新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :"氏名" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "氏名", placeholder: "氏名またはニックネームを入力してください", style: "width: 420px;" %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス", placeholder: "メールアドレスを入力してください", style: "width: 420px;" %>
    </div>

    <div class="field">
      <%= f.label :"ユーザー検索ID" %><br />
      <%= f.text_field :search_number, autofocus: true, autocomplete: "ユーザー検索ID", placeholder: "半角英数6文字以上で入力してください", style: "width: 420px;" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "半角英数6文字以上で入力してください", style: "width: 420px;" %>
    </div>

    <div class="field">
      <%= f.label :確認用パスワード%><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "確認のため、もう一度入力してください", style: "width: 420px;" %>
    </div>

    <div class="actions">
      <%= f.submit "登録", class: "btn btn-primary", style: "margin-top: 20px; width: 100px; font-size: 20px;" %>
    </div>
  <% end %>

  <%= link_to "ログインはこちら", new_user_session_path, style: "margin-top: 50px;" %>

</div>

      <div class ="note">
        <p>(注)  検索用IDは入力しなくても登録できますが、登録することでユーザー検索ができるようになりグループカレンダーが利用できます。(ログイン後からでも登録できます)</p>
      </div>