<div class="container">
	<div class="row">
		<div class="col-lg-1">
		</div>

		<div class="col-lg-9">
			<h3>日記を書く</h3>
			<%= form_with url: event_comments_path(@event.id), method: :post  do |form| %>

			  <div class="event_title">
			    <%= form.label :内容 %>
			    <%= form.text_area :comment, placeholder:"400字以内" %>
			  </div>

			  <div class="submit">
			    <%= form.submit %>
			  </div>

			<% end %>
		</div>

	</div>
</div>

<%= link_to '戻る', :back, class: "btn btn-default"%>