<div class="container">
	<div class="row">

		<div class="col-lg-3">
			<table>
				<thead>
					<h3 class="group"><strong>参加中のメンバー</strong></h3>
					<table">
						<% @group_users.each do |groupe| %>
							<tr>
								<td><%= image_tag groupe.user.user_image_id.to_s, class: "icon" %></td>
								<td class="group_user_name"><%= groupe.user.name %></td>
								<td><%= link_to "退室", group_users_destroy_path(group_id: @group.id, user_id: groupe.user.id), method: :delete, "data-confirm" => "本当に退室させますか？", class: "close" %></td>
					   		</tr>
					   	<% end %>

					</table>
				</thead>
					<div class="edit_user">
						<%= link_to "グループ招待", users_path, class: "btn btn-success", style: "margin-top: 20px;" %>
						<%= link_to "グループを削除する", group_path(@group.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-warning", style: "margin-top: 20px;" %>
					</div>
			</table>
		</div>

		<div class="col-lg-9">
			<div class="calendar"><h2 class="calendar_title"><%= @group.group_name %></h2></div>
			<div class="edit_calendar">
				<%= link_to "カレンダー名を編集", edit_group_path, class: "btn btn-info" %>
				<%= link_to "イベントを作成する", new_group_group_event_path(@group), class: "btn btn-danger" %>
			</div>

			<%= month_calendar events: @group_events do |date, group_events| %>
  				<%= date.day %>

		  		<% group_events.each do |group_event| %>
   					<div>
      					<%= link_to group_event.group_event_title.truncate(7), group_event %>
   					</div>
 				<% end %>
			<% end %>
		</div>

	</div>
</div>