<div class="container">
	<div class="row">

		<div class="col-lg-3">
			<h3>グループメンバー</h3>
			<%= link_to "メンバーを招待する", group_group_users_path(@group) %>
		</div>

		<div class="col-lg-9">
			<div class="calendar"><h2 class="calendar_title"><%= @group.group_name %></h2></div>
			<div class="edit_calendar">
				<%= link_to "カレンダー名を編集", edit_group_path %>
				<%= link_to "イベントを作成する", new_group_group_event_path(@group) %>
			</div>

			<%= month_calendar events: @group_events do |date, group_events| %>
  				<%= date.day %>

		  		<% group_events.each do |group_event| %>
   					<div>
      					<%= link_to group_event.group_event_title, group_event %>
   					</div>
 				<% end %>
			<% end %>
		</div>

	</div>
</div>