<div class="container">
	<div class="row">

		<div class="col-lg-3">
			<td><%= image_tag @user.user_image_id.to_s, class: "user_image" %></td>
			<table class="table table-bordered">
				<tbody>
					<tr class="active"><th>氏名</th><td><%= @user.name %></td></tr>
					<tr class="active"><th>メールアドレス</th><td><%= @user.email %></td></tr>
					<tr class="active"><th>検索用ID</th><td><%= @user.search_number %></td></tr>
				</tbody>
			</table>

				<div class="edit_user">
					<%= link_to "ユーザー情報編集", edit_user_path, class: "btn btn-success" %>
				</div>

			<table>
					<h3 class="group"><strong>参加中のカレンダー</strong></h3>
					<table class="table table-hover">
						<% @group_users.each do |groupe| %>
						<tr class="group_title_list">
							<td><%= link_to groupe.group.group_name, group_path(groupe.group.id) %></td>
						</tr>
						<% end %>
					</table>

					<div class="edit_user">
						<%= link_to "グループ招待", users_path, class: "btn btn-primary" %>
					</div>
			</table>
		</div>

		<div class="col-lg-9">
			<div class="calendar"><h2 class="calendar_title">My Calendar</h2></div>
			<div class="edit_calendar">
				<%= link_to "イベントを作成する", new_event_path, class: "btn btn-danger" %>
			</div>

			<%= month_calendar events: @events do |date, events| %>
  				<%= date.day %>

		  		<% events.each do |event| %>
   					<div>
      					<%= link_to event.event_title, event %>
   					</div>
 				<% end %>
			<% end %>
			<div class="mk_group"><%= link_to "グループカレンダーを作成", new_group_path, class: "btn btn-primary" %></div>
		</div>

	</div>
</div>