<div class ="container">
	<div class ="row">
		<%= link_to "イベント削除", event_path(@event.id), method: :delete, "data-confirm" => "本当に削除しますか", class: "btn btn-default", style: "margin: 10px 0 0 82px;" %>
		<div class ="col-lg-9">
			<h3 class="index"><span>イベント名</span></h3>
			<p class= "event_title"><%= @event.event_title %></p>
			<h3 class="index"><span>アルバム</span></h3>
			<div id="thumb-h" class="slider-pro">
			  <div class="sp-slides">
			  	<% @event.photos.each do |photo| %>
			    	<div class="sp-slide">
					<%= image_tag photo.photo_image_id.to_s, class: "sp-image slider-photo" %>
					</div>
				<% end %>
			  </div>
			  <div class="sp-thumbnails">
			    <% @event.photos.each do |photo| %>
					<%= image_tag photo.photo_image_id.to_s, class: "sp-thumbnail" %>
				<% end %>
			  </div>
			</div>
			<h3 class="index"><span>日記一覧</span></h3>
			<% @event.comments.each do |comment| %>
				<%= image_tag @event.user.user_image_id.to_s, class: "comment_icon" %>
				<%= link_to comment.comment.truncate(34), event_comment_path(event_id: @event.id, id: comment.id), class: "comment_list" %></br>
			<% end %>
		</div>
		<div class ="col-lg-3">
			<%= link_to "イベント編集", edit_event_path, class: "edit_event btn btn-danger" %>
			<%= link_to "写真を追加", new_event_photo_path(@event), class: "add_photo btn btn-primary" %>
			<%= link_to "アルバムを開く", event_photos_path(@event), class: "open_album btn btn-success" %>
			<%= link_to "日記を書く", new_event_comment_path(@event), class: "add_comment btn btn-info" %>
		</div>
	</div>
</div>

<script type="text/javascript">
$( document ).ready(function( $ ) {
  $('#thumb-h').sliderPro({
    width:600,//横幅
    buttons: false,//ナビゲーションボタン
    shuffle: true,//スライドのシャッフル
    thumbnailWidth: 200,//サムネイルの横幅
    thumbnailHeight: 60,//サムネイルの縦幅
    slideDistance:0,//スライド同士の距離
    breakpoints: {
      480: {//表示方法を変えるサイズ
        thumbnailWidth: 110,
        thumbnailHeight: 40
      }
    }
  });
});
</script>