<div class="field-set">
  <h2 class="sign_up">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力してください", style: "width: 420px;" %>
    </div>

    <div class="field">
      <%= f.label :パスワード%><br />
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワードを入力してください", style: "width: 420px;" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-primary", style: "margin-top: 20px; width: 100px; font-size: 20px;" %>
    </div>
  <% end %>

  <%= link_to "新規登録はこちら", new_user_registration_path, style: "margin-top: 50px;" %>


</div>
